* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body{
	width: 100%;
	height: 750px;
	background-image: url("https://wallpaperscraft.com/image/light_stain_shadow_background_46791_2560x1600.jpg");
}


header{
	position: absolute;
	left:1.2em;
	top: 1em;
}

h1 {
	margin-bottom: 0;
	font-size: 4.5em;
	text-align: center;
}

h2{
	font-size: 2em;
    display: inline-block;
    border-top: 3px solid white;
    position: absolute;
    left: 30%;
    right: 30%;
    margin-bottom: 0.5em;
    text-align: center;
}


.enterText{
	margin-top: 10em;
	text-align: center;
}

.logo{
	text-decoration: none;
    color: #5cd65c;
    font-weight: bold;
    font-size: 2em;
    border: 3px solid;
    padding: 0.15em;
    position: absolute;
    border-radius: 0.2em;
    top: 0.4em;
    left: 0.3em;
}

.overwall{
	width: 100%;
	background-image: url("https://wallpaperscraft.com/image/light_stain_shadow_background_46791_2560x1600.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


.background{
	width: 100%;
	height: 745px;

}

.form-container{
	width: 900px;
    margin: 0 auto;
}

.container{
	position: absolute;
	top: 38%;
	max-width: 100%;
	left: 7%;
	right: 7%;
	color: white;
}

#findCity{
	font-size: 23px;
    border-radius: 0.2em;
    width: 360px;
    border: 3px solid #000066;
    background-color: #f8f8f8;
    height: 45px;
    vertical-align: bottom;
    padding-left: 9px;
}


.weather-box{
	width: 100%;
	margin-top: 5%;
}

.description-box{
	text-align: center; 
	color: white;
	border: 3px solid white;
    border-radius: 3.5em;
    width: 50%;
    margin: 0 auto;
}

.cityName{
	font-size: 4em;
    border-bottom: 3px solid white;
    display: inline-block;
}

.temp{
	    font-size: 6.5em;
}

.description{
	font-size: 3em;
	margin-top: -0.3em;

}

#submit{
    border: 3px solid #000066;
    background: #000066;
    color: white;
    border-radius: 0.3em;
    font-size: 13px;
    cursor: pointer;
    width: 155px;
    height: 44px;
}

#submit:hover{
	color: green;
}

#icon img{
	width: 100px;
}

#findMusic{
	width: 30%;
    background: white;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3em;
    border-radius: 3em;
    background: #000066;
    color: white;
}

.musicInfo-container{
	display: inline-block;
    float: left;
    margin: 60px 0;
    height: 315px;
    padding-top: 7px;
}

.musicInfo-container:hover{
	background-color: orange;

}

.result-container{
	display: none;
}

.textbox{
	padding: 5px;
    border: 2px solid white;
    background: black;
    width: 300px;
    margin-top: 10px;
}

.artistName, .albumName{
	color: white;
}

#tryAgain{
    border: 3px solid #000066;
    background: orange;
    color: white;
    border-radius: 0.3em;
    font-size: 13px;
    cursor: pointer;
    width: 155px;
    height: 44px;
    position: fixed;
    right: 43px;
    bottom: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 1012px) {
.container {
	top:30%;	
}
h1 {
	font-size: 4em;
}

h2 { 
	font-size: 1.8em;
}

}


@media only screen and (max-width: 902px) {
h1 {
	font-size: 4em;
}

h2 { 
	font-size: 1.8em;
}

.form-container {
	width: 450px;
}

#findCity, #submit{
    width: 100%;
    font-size: 20px;
}

.description-box{
	width: 70%;

}

.description-box > h3 {
	font-size: 4em;
}

#findMusic{
	width: 70%;
}

}